<section class="page">
  <div class="centered-box">
    <h1>Welcome New User</h1>
    <h5>Please sign up below</h5>

    <% if flash.now[:errors] %>
      <% flash.now[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>

    <form action="<%= users_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label>
        <h3>Username</h3>
        <input type="text" name="user[user_name]" value="<%= @user.user_name %>">
      </label>
      <br>
      <label>
        <h3>Password</h3>
        <input type="password" name="user[password]" value="<%= @user.password %>">
      </label>
      <br>
      <br>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</section>


<!-- for our password input-tag: do we need something in value=?
the BlueBird app had value="" but solutions for 99cats says above. -->
